body{
    background-color: #232323;
    margin:0;
    font-family: "Montserrat","Avenir";

}
#square{
    width:30%;
    background:purple;
    float:left;
    margin:1.66%;
    padding-bottom: 30%;
    border-radius: 30px;
    transition: background 0.6s;
}
#container{
    margin: 20px auto;
    max-width: 600px;
}
h1{
    color: white;
    text-align: center;
    background:steelblue;
    margin:0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding-top: 20px;
    padding-bottom: 20px;
}
#colorsdisplay{
    font-size: 200%;
}
#strip{
    background: white;
    height: 30px;
    text-align: center;
}
.selected{
    color:white;
    background-color: steelblue;
}
button{
    border:none;
    background: none;
    text-transform: uppercase;
    height:100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline:none;
}
#message{
    display:inline-block;
    width: 20%;
}
button:hover{
    color:white;
    background-color: steelblue;
}